<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7-ELEVEN 查詢</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style2.css">
    <link rel="stylesheet" href="./taiwan.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col title">
                    <img src="./7-11.png" alt="">
                    <h1>7-ELEVEN 門市查詢系統</h1>
                </div>
            </div>
            <div class="row">
                <!-- 輸入框查詢 -->
                <div class="col-md-6 mb-2 mb-md-0">
                    <div class="input-group">
                        <label for="">店名:</label>
                        <input type="text" class="form-control input_inputbox" placeholder="請輸入門市名稱"
                            aria-label="Recipient's username" aria-describedby="button-addon2" v-model="enterStoreName">
                        <button class="btn btn-outline-secondary butotn_search" type="button" id="button-addon2"
                            @click="searchStore('POIName',this.enterStoreName)"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <label for="">店號:</label>
                        <input type="text" class="form-control input_inputbox" placeholder="請輸入門市店號"
                            aria-label="Recipient's username" aria-describedby="button-addon2" v-model="enterStoreNum">
                        <button class="btn btn-outline-secondary butotn_search" type="button" id="button-addon2"
                            @click="searchStore('POIID',this.enterStoreNum)"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
            <div class="row inputArea">
                <!-- 選擇縣市(台灣地圖) -->
                <div class="col-md-10 mb-2 mb-md-0" style="margin: auto;">
                    <taiwan @update-city="updateCity"></taiwan>
                </div>
            </div>
            <div class="row" ref="choseArea">
                <div class="col-md-6 input_select">
                    <taiwan :use-spare="true" :active-area="cityName"></taiwan>
                </div>
                <!-- 選擇鄉鎮 -->
                <div class="col-md-6 input_select">
                    <div class="">
                        <label for="">請選擇區域:</label>
                    </div>
                    <div class="btn_group chose-area" v-show="areaList.length >= 1">
                        <button type="button" class="btn btn-secondary col-md-2"
                            :class="{active:item.AreaName == areaName}" v-for="item in areaDataByShow"
                            @click="changeArea(item.AreaName)">{{item.AreaName}}</button>
                    </div>
                    <div class="" :class="{setCenter:areaDataByShow.length<1}">
                        <strong class="no_store" v-show="areaList.length<1">尚未選擇區域</strong>
                    </div>

                    <!-- 選擇鄉鎮分頁 -->
                    <page-nation class-name="" v-show="areaDataByShow.length>=1" @update-data="updateDataByArea"
                        :data="areaList" :current-num="currentNumByArea" :start-page="3" :page-neighborhood="2"
                        :show-range="32" :page-count="true"></page-nation>
                </div>
            </div>
            <div class="row inputArea" ref="choseStore">
                <!-- 按鈕選擇區 -->
                <label for="">請選擇門市:</label>
                <div class="col  store_point" :class="{setCenter:storeDetailByShow.length<1}">
                    <div class="btn_group" v-show="storeDetailByShow.length >= 1">
                        <button type="button" class="btn btn-secondary"
                            :class="{active:item.poinName == storeInfo.poinName}" v-for="item in storeDetailByShow"
                            @click="setMap(item)">{{item.poinName}}</button>
                    </div>
                    <strong class="no_store" v-show="storeDetailByShow.length<1">尚無門市資訊</strong>
                </div>
                <!-- 門市分頁-->
                <page-nation v-show="storeDetail.length>=1" @update-data="updateDataByStore" :data="storeDetail"
                    :current-num="currentNumByStore" :start-page="pagenationParamByStore.startPage"
                    :page-neighborhood="pagenationParamByStore.pageNeighborhood"
                    :show-range="pagenationParamByStore.showRange" :page-count="true"></page-nation>
            </div>
            <!-- 門市資訊 -->
            <div class="row" ref="mapRow">
                <!-- 地圖 -->
                <div class="col-md-6 mb-2 mb-md-0">
                    <div id="map" ref="map"></div>
                </div>
                <div class="col-md-6">
                    <div class="intrduce">
                        <div class="text-center p-2">
                            <h4>門市資訊</h4>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label for="">門市名稱:</label>
                                <span>{{storeInfo.poinName}}</span>
                            </li>
                            <li class="list-group-item">
                                <label for="">門市店號:</label>
                                <span>{{storeInfo.poiid}}</span>
                            </li>
                            <li class="list-group-item">
                                <label for="">地址:</label>
                                <span>{{storeInfo.address}}</span>
                            </li>
                            <li class="list-group-item">
                                <label for="">電話:</label>
                                <span>{{storeInfo.tel}}</span>
                            </li>
                            <li class="list-group-item">
                                <label for="">廁所:</label>
                                <input type="checkbox" class="form-check-input" :checked="storeInfo.isLavatory == 'Y'"
                                    disabled>
                            </li>
                            <li class="list-group-item">
                                <label for="">WIFI:</label>
                                <input type="checkbox" class="form-check-input" :checked="storeInfo.is7WiFi == 'Y'"
                                    disabled>
                            </li>
                            <li class="list-group-item">
                                <label for="">用餐區:</label>
                                <input type="checkbox" class="form-check-input" :checked="storeInfo.isDining == 'Y'"
                                    disabled>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- loading -->
            <div class="d-flex justify-content-center loading" v-if="callApi">
                <div class="spinner-border" role="status">
                </div>
                <span class="m-2">Loading...</span>
            </div>
        </div>
        <!-- 燈箱 -->
        <div class="modal fade" id="lightBox" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">錯誤訊息</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        查無相關門市資料
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 向上返回的按鈕 -->
        <div class="go-back" ref="goTop">
            <button type="button" class="btn btn-danger" @click="goTop">
                <i class="fa-solid fa-angles-up arrow"></i>
                TOP</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./component/taiwan.js"></script>
    <script src="./component/pageNation.js"></script>
    <script src="./util.js"></script>

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    storeData: [],
                    storeDetailByShow: [],
                    storeDetail: [],
                    storeInfo: {},
                    cityName: '',
                    cityNameList: [],
                    areaName: '',
                    areaData: [],
                    areaDataByShow: [],
                    activeStore: '',
                    enterStoreName: '',
                    enterStoreNum: '',
                    currentNumByStore: 1,
                    currentNumByArea: 1,
                    map: null,
                    myModal: null,
                    callApi: false,
                    localAPI: true,
                    pagenationParamByStore: {
                        showRange: 0,
                        startPage: 0,
                        pageNeighborhood: 0,
                        pageCount: 0
                    },
                    svgHTML: ''
                }
            },
            mixins: [methods],
            methods: {
                callBackendAPI(url, callBack) {
                    this.callApi = true
                    return fetch(url)
                        .then(res => res.json())
                        .then(json => {
                            if (callBack) {
                                callBack(json)
                            }
                            this.callApi = false
                        })
                        .catch(err => {
                            console.log('err', err)
                            this.callApi = false
                        })
                },
                getAreaData() {
                    let self = this
                    this.callBackendAPI('./Backend/cityName.json', function (json) {
                        self.areaData = json

                        self.cityNameList = self.areaData.map(item => {
                            return {
                                cityName: item.CityName,
                                engName: item.CityEngName
                            }
                        })
                    })

                },
                getRemoteStoreData() {
                    let self = this
                    let url = ''
                    const params = new URLSearchParams();

                    if (this.localAPI) {
                        url = `./Backend/store.json`

                    } else {
                        params.append('city', this.convertCity(this.cityName));
                        params.append('area', this.areaName);
                        url = `http://localhost:3000/store?${params}`
                    }

                    return this.callBackendAPI(url, function (json) {
                        self.storeData = json
                    })
                },
                initMap(item) {
                    let x = 51.505
                    let y = -0.09

                    this.map = L.map('map').setView([x, y], 13);

                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '© OpenStreetMap'
                    }).addTo(this.map);

                    this.marker = L.marker([x, y]).addTo(this.map);
                    this.marker.bindPopup("歡迎使用!").openPopup();
                },
                setMap(item) {
                    setTimeout(() => {
                        this.moveStoreChose("mapRow")
                    }, 0)

                    this.map.removeLayer(this.marker);
                    this.marker = L.marker([item.y, item.x]).addTo(this.map);
                    this.marker.bindPopup(`
                    <img src='./7-11.png'>
                    <p style='font-weight: bold;' class='text-center'>${item.poinName}門市</p>
                    `).openPopup();
                    this.map.setZoom(100);
                    this.map.panTo([item.y, item.x]);//讓marker保持置中
                    this.storeInfo = item//更新門市資訊
                },
                updateCity(path) {
                    this.cityName = path
                    this.activeStore = ""

                    setTimeout(() => {
                        this.moveStoreChose('choseArea')
                    }, 0)
                },
                // 鄉鎮下拉選單變更(選擇完後直接進行篩選)
                changeArea(path) {
                    if (!this.activeCity) return
                    this.callApi = true
                    this.storeDetail = []
                    this.activeStore = ''
                    this.areaName = path

                    if (this.localAPI) {
                        let storeList = this.storeData[this.activeCity].stores
                        storeList.forEach(item => {
                            if (this.areaName && item.Address.includes(this.areaName)) {

                                this.storeDetail.push({
                                    address: item.Address,
                                    x: item.X,
                                    y: item.Y,
                                    poiid: item.POIID,
                                    poinName: item.POIName,
                                    tel: item.Telno,
                                    isLavatory: item.isLavatory,
                                    is7WiFi: item.is7WiFi,
                                    isDining: item.isDining
                                })
                            }

                        })

                    } else {
                        // 非localAPI時，會是選擇完鄉鎮之後才呼叫
                        this.getRemoteStoreData().then(() => {
                            this.storeData.forEach(item => {
                                this.storeDetail.push({
                                    address: item.Address,
                                    x: item.X,
                                    y: item.Y,
                                    poiid: item.POIID,
                                    poinName: item.POIName,
                                    tel: item.Telno,
                                    isLavatory: item.isLavatory,
                                    is7WiFi: item.is7WiFi,
                                    isDining: item.isDining
                                })
                            })
                        })
                    }
                    setTimeout(() => {
                        this.moveStoreChose('choseStore')
                    }, 0)
                    this.callApi = false
                },
                updateDataByStore(data) {
                    this.storeDetailByShow = data
                },
                updateDataByArea(data) {
                    this.areaDataByShow = data
                },
                //輸入框查詢
                searchStore(key, param) {
                    let self = this

                    const myModal = new bootstrap.Modal('#lightBox', {
                        keyboard: false
                    })

                    if (!param) {
                        myModal.show()
                        return
                    }

                    this.storeDetail = []
                    if (this.localAPI) {
                        let columns = Object.keys(this.storeData)
                        for (let i = 0; i < columns.length; i++) {
                            let storeArr = this.storeData[columns[i]].stores
                            for (let j = 0; j < storeArr.length; j++) {
                                storeArr[j][key] += ''//強制轉成字串

                                if (storeArr[j][key].includes(param)) {
                                    let item = storeArr[j]
                                    this.storeDetail.push({
                                        address: item.Address,
                                        x: item.X,
                                        y: item.Y,
                                        poiid: item.POIID,
                                        poinName: item.POIName,
                                        tel: item.Telno,
                                        isLavatory: item.isLavatory,
                                        is7WiFi: item.is7WiFi,
                                        isDining: item.isDining
                                    })
                                }
                            }
                        }
                        if (this.storeDetail.length < 1) {
                            myModal.show()
                        }
                    } else {
                        const params = new URLSearchParams();
                        params.append('storeName', this.enterStoreName);

                        this.callBackendAPI(`http://localhost:3000/find?${params}`, function (json) {
                            if (json.poinName) {
                                self.setMap(json)
                            } else {
                                const myModal = new bootstrap.Modal('#lightBox', {
                                    keyboard: false
                                })
                                myModal.show()
                            }
                        })
                    }
                    setTimeout(() => {
                        this.moveStoreChose("choseStore")
                    }, 0)

                },
                moveStoreChose(target) {
                    this.$nextTick(() => {
                        const inputArea = this.$refs[`${target}`]
                        const rect = inputArea.getBoundingClientRect(); // 獲取元素的位置和尺寸
                        let yOffset = 0// 計算垂直距離以使 inputArea 出現在瀏覽器的最下方\
                        let objSize = rect.height + rect.top;

                        if (objSize + window.pageYOffset >= window.innerHeight) {
                            yOffset = Math.abs(window.innerHeight - objSize - window.pageYOffset);
                        } else {
                            yOffset = window.innerHeight - objSize - window.pageYOffset
                        }

                        window.scrollTo({
                            top: yOffset,
                            behavior: 'smooth'
                        });
                    })
                },
                convertCity(cityName) {
                    let egName = this.cityNameList.find(item => item.cityName == cityName).engName
                    if (egName) {
                        egName = egName.split(' ')[0]
                    }
                    return egName
                },
                updatePageNationParam() {
                    if (window.innerWidth < 768) {
                        this.pagenationParamByStore = {
                            showRange: 30,
                            startPage: 3,
                            pageNeighborhood: 1,
                            pageCount: true
                        }
                    } else {
                        this.pagenationParamByStore = {
                            showRange: 72,
                            startPage: 7,
                            pageNeighborhood: 4,
                            pageCount: true
                        }
                    }
                }
            },
            computed: {
                areaList() {
                    let newList = this.areaData.find(item => item.CityName == this.cityName)
                    if (newList) {
                        return newList.AreaList
                    }
                    this.areaName = ''
                    return []
                },
                activeCity() {
                    let newList = this.cityNameList.filter(item => item.cityName == this.cityName)
                    let engNameSplit = newList[0].engName.split(' ')

                    if (engNameSplit && engNameSplit.length) {
                        return engNameSplit[0]
                    }
                    return ""
                },
            },
            mounted() {
                this.getAreaData()
                if (this.localAPI) {
                    this.getRemoteStoreData()
                }

                this.initMap()
                window.addEventListener("scroll", () => {
                    const element = this.$refs.mapRow
                    const goTop = this.$refs.goTop
                    console.log(this.isElementInViewport(element))
                    if (this.isElementInViewport(element)) {
                        // 如果元素進入可視區域，則顯示它
                        goTop.style.opacity = "1";
                    }
                });

                this.updatePageNationParam()
                window.addEventListener("resize", (e) => {
                    this.updatePageNationParam()
                })
                
            },
        })
        app.component("taiwan", taiwanElement);
        app.component("pageNation", pagenation)
        app.mount("#app")
    </script>

</body>

</html>